*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.counter-container{
    background-color: rgb(177, 138, 194);
    gap: 15px;
    display: flex;
    padding: 1.5rem;
    border: 2px solid rgb(125, 97, 97);
    border-radius: 1.5rem;
    flex-direction: column;
    flex-direction: column;
  align-items: center;
  align-items: center;

}

#button{
  color: blueviolet;
  background-color: rgb(197, 172, 221);
  border-radius: 1rem;
  width: 100px;
  font-size:large;
  padding: 10px;
 display: flex;
 justify-content: center;
  

}
